.btn {
    background: linear-gradient(to right, #f4d7a1, #725f4c);
    background-color: #f4d7a1;
    color: #ffffff;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 20px 20px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 0px 6px 0px #2d2d2d;
    text-shadow: 2px 2px 0px #000;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(to right, #cab181, #28211a);
    background-color: #e7cc99;
}
.btn:active {
    transform: scale(1.05);
}
